:root{
    --background1: #ffffff;
    --background2:rgb(231, 231, 231);
}


body{
    background-color: var(--background2);
    padding: 0%;
    margin: 0%;
    /* overflow: hidden; */
    font-family: Roboto;
}

#myBtn {
    display: none;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    width: 100px;
    position: fixed;
    z-index: 99;
    font-size: 18px;
    border: solid black 1px;
    background-color: rgb(114, 170, 255);
    color: --background1;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
}

#search {
    width: 100px;
    height: 30px;
}

a{
    padding: 15px;
}

nav {
    background-color: transparent;
    overflow: hidden;
    position: relative;
    top: 2px; 
    height:50px;
    display: flex;
    align-items: flex-end;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    background-color: transparent;
    margin-left: 2%;
    padding-left: 5px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

/* ul li {
    display: inline-block;
    text-align: center;
    width: 100px;
    border: solid black 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    float: left;
    background-color: white;
    transform: skew(12deg);
    position: relative;
} */
ul li:nth-child(2){
    transform: translate(-6%) skew(12deg);
    z-index: 98;
}
ul li:nth-child(3) {
    transform: translate(-12%) skew(12deg);
    z-index: 97;
}
ul li:nth-child(4) {
    transform: translate(-18%) skew(12deg);
    z-index: 96;
}
ul li:nth-child(5) {
    transform: translate(-24%) skew(12deg);
    z-index: 95;
}
ul li:nth-child(6) {
    transform: translate(-30%) skew(12deg);
    z-index: 94;
}
ul li:nth-child(7) {
    transform: translate(-36%) skew(12deg);
    z-index: 93;
}
ul li:nth-child(8) {
    transform: translate(-42%) skew(12deg);
    z-index: 92;
}
ul li:nth-child(9) {
    transform: translate(-48%) skew(12deg);
    z-index: 91;
}

ul li {
    display: inline-block;
    text-align: center;
    width: 100px;
    border: solid black 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    float: left;
    background-color: --background1;
    transform: skew(12deg);
    position: relative;
}

ul li a {
    text-decoration: none;
    color: black;
}


.menu{
    height: 30px;
    width: 40px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#box2 {
    box-shadow: 0px 8px 6px -6px;
    border-top: solid black 2px;
    background-color: --background1;
    overflow-y: hidden;
    height: 1000px;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.23);
}

#pic1 {
    height: 400px;
    width: 400px;
}


#side-nav{
    background-color: var(--background2);
    position: fixed;
    right: -201px;
    top: 0;
    height: 100%;
    width: 200px;
    z-index: 99;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    border-left: solid black 1px;

}
    

#logout{
    float: left;
    display: flex;
    flex-wrap: nowrap;

}

/* #side-nav{
    border: solid transparent;
    transition: 0;
} */


i{
    color: black;
    font-size: larger;
}

#content{
    margin: 30px;
    border: solid rgba(0, 0, 0, 0.271) 1px;
}

#content1{
    display: flex;
    grid-template-columns: auto auto auto;
    margin: 30px;
    gap: 20px;
}

#item1{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
    border: solid  rgb(124, 0, 0) 4px;
    border-radius: 25px;
    grid-column-start: 1;
}

#item2{
    grid-column-start: 2;
    grid-column-end: 4;
    border: solid black 2px;
}
/* inloggning */
#login_box1 {
    background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 150px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid  rgb(124, 0, 0) 4px;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

input[type="button"]{
    background-color: rgb(114, 170, 255);
    color: --background1;
    border: transparent;
}

input{
    border: 1px solid black;
    margin: 10px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

h2{
    color: rgb(114, 170, 255);
}

#error{
    color: red;
}